@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  main {
    @apply w-full min-h-screen bg-primary-900 flex items-start justify-center px-4;
  }

  input,
  textarea {
    @apply bg-primary-800 outline-none text-gray-400;
  }
}

* {
  font-family: "Roboto Mono", monospace;
}
